global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:8080
    default_backend routers_backend

backend routers_backend
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200

    server router1 router1:3000 check
    server router2 router2:3000 check
