global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 10s

frontend http_front
    bind *:8080
    default_backend routers_backend

backend routers_backend
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    default-server resolvers docker init-addr last,libc,none resolve-prefer ipv4 check

    server router1 router1:3000
    server router2 router2:3000
